*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    background: rgba(71, 69, 69, 0.441);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;

}

.calculator{


    -webkit-box-shadow: 16px 21px 5px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 16px 21px 5px 0px rgba(0,0,0,0.06);
    box-shadow: 16px 21px 5px 0px rgba(0,0,0,0.06);
    

}

input{
    border:black;
    width: 270px;
    height: 70px;
    font-size: 40px;
    text-align: left;
    cursor: pointer;
    background: transparent;
    color:rgb(0, 0, 0);
    background-color: white;
}

input::placeholder{
    color:black;
    padding: 15px;
}
button{
    border: none;
    min-width: 90px;
    min-height: 60px;
    margin:0;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: black;
}

#symbol{
    background: gray;
    color: white;
}

#clear{
    background:rgba(32, 153, 147, 0.753);
    
}
.Display{

    display: flex;
}